/* Global Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
  }

/* Hero Section */
  

.hero{
    background-image: url(Asset/Rectangle\ 1441.png);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 1084px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    max-width: 1280px;
    color: white;
    justify-content: space-between;
    margin: 40px auto 80px auto;
    gap: 335px;
}

.nav p{
    font-weight: 400;
    size: 28px;
    letter-spacing: 1%;
}

.nav_link{
    display: flex;
    gap: 62px;

}

.nav_link a{
    text-decoration: none;
    color: white;
    width: fit-content;
    font-weight: 400;
    font-size: 18px;

}

.nav i{
    font-size: 34px;
}

.content{
    max-width: 861px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.content_text{
    display: flex;
    flex-direction: column;
    gap:14px;
    text-align: center;
    align-items: center;
}

.content h1{
    font-weight: 400;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -1%;
}

.content p{
    font-weight: 400;
    size: 24px;
    line-height: 160%;
    max-width: 606px;
    color: rgba(255, 255, 255, 0.8);
}

.search-container{
    width: 344px;
    height: 56px;
    position: relative;
    background-color:rgba(255, 255, 255, 0.15);
    border-radius: 42px;
    border: .86px solid;
    border-color: rgba(255, 255, 255, 0.6);
}

.search-container input{
   width: 100%;
   height: 56px;
   border-radius: 42px;
   border: none;
   padding: 15px 20px;
   background-color: transparent;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
  }

.search-container button{
    position: absolute;
    background-color: #E58411;
    z-index: 2;
    right: 8px;
    top:50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 18px;
}

/* About Us Section */


.about_us .container{
    margin: 120px auto;
    max-width: 1280px;
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.left_side h3{
    font-weight: 400;
    font-size: 42px;
    color: #1E1E1E;
}

.right_side{
    display: flex;
    gap: 28px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-content .title{
    color: #1E1E1E;
    font-size: 24px;
    opacity: 90%;
}

.card-content .text{
    color: #1E1E1E;
    font-size: 16px;
    line-height: 185%;
    opacity: 80%;
}

.more_info{
    display: flex;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;

}

.more_info a{
    text-decoration: none;
    color: #E58411;
    font-size: 14px;
    line-break: 185%;
    font-weight: 400;
}

.more_info i{
    font-size: 24px;
    color: #E58411;
}


