/* Global Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
  }

/* Hero Section */
  

.hero{
    background-image: url(Asset/Rectangle\ 1441.png);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 1084px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    width: 100%;
    max-width: 1280px;
    color: white;
    justify-content: space-between;
    margin: 40px auto 80px auto;
    padding: 0px 40px;
    /* gap: 335px; */
}

.nav p{
    font-weight: 400;
    size: 28px;
    letter-spacing: 1%;
}

.nav_link{
    display: flex;
    gap: 62px;

}

.nav_link a{
    text-decoration: none;
    color: white;
    width: fit-content;
    font-weight: 400;
    font-size: 18px;

}

.nav i{
    font-size: 32px;
    cursor: pointer;
}

.nav .menu {
    display: none;
}

.content{
    max-width: 861px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.content_text{
    display: flex;
    flex-direction: column;
    gap:14px;
    text-align: center;
    align-items: center;
}

.content h1{
    font-weight: 400;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -1%;
}

.content p{
    font-weight: 400;
    size: 24px;
    line-height: 160%;
    max-width: 606px;
    color: rgba(255, 255, 255, 0.8);
}

.search-container{
    width: 344px;
    height: 56px;
    position: relative;
    background-color:rgba(255, 255, 255, 0.15);
    border-radius: 42px;
    
}

.search-container input{
   width: 100%;
   height: 56px;
   border-radius: 42px;
   border: .86px solid;
   border-color: rgba(255, 255, 255, 0.6);
   padding: 15px 20px;
   background-color: transparent;
   color: rgba(255, 255, 255, 0.8);
   font-size: 18px;
   line-height: 150%;
   font-weight: 400;

}

.search-container input:focus{
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 56px;
    border-radius: 42px;
    border: 1px solid  #E58411;
    box-shadow: 0 0 4px rgba(23, 207, 151, 0.4);
    padding: 15px 20px;
    background-color: transparent;
 }

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
  }


.search-container button{
    position: absolute;
    background-color: #E58411;
    z-index: 2;
    right: 8px;
    top:50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 18px;
}

.search-container button:hover{
    cursor: pointer;
}

/* About Us Section */

.about_us{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us .container{
    margin: 120px 80px;
    max-width: 1280px;
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.about_us .left_side{
    max-width: 242px;
}

.left_side p{
    font-weight: 600;
    font-size: 42px;
    color: #1E1E1E;
    
}

.right_side{
    display: flex;
    flex: 1;
    gap: 28px;
}

.card{
    display: flex;
    width: 284px;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-content .title{
    color: #1E1E1E;
    font-size: 24px;
    opacity: 90%;
}

.card-content .text{
    color: #1E1E1E;
    font-size: 16px;
    line-height: 185%;
    opacity: 80%;
}

.more_info{
    display: flex;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;

}

.more_info a{
    text-decoration: none;
    color: #E58411;
    font-size: 18px;
    line-break: 185%;
    font-weight: 500;
}

.more_info i{
    font-size: 20px;
    color: #E58411;
}

/* Best product Section */

.best_product{
    background-color: #F7F7F7;
    padding: 50px 0px;
}

.best_product .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header h4{
    font-size: 42px;
    color: #1E1E1E;
    text-transform: capitalize;
    font-weight: 700;
}

.header .category {
    background-color: #EEEEEE;
    border-radius: 44px;
    padding: 6px;
    width: fit-content;
}

.header .category ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .category ul li{
    list-style: none;
    padding: 7px 20px;
    opacity: 80%;
    font-size: 18px;
    line-height: 185%;
    color: #1E1E1E;
    font-weight: 400;
}

.header .active{
  background-color: #FFFFFF;
  border-radius: 32px;
  color: #1E1E1E;
  opacity: 80%;
  font-size: 18px;
  line-height: 185%;
  font-weight: 500;
}


.product{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-bottom: 60px;
}

.product .card{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.image_section{
    text-align: center;
    background-color: #FAFAFA;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.image_section img{
    
    width: 217px;
    height: 249px;
    margin-bottom: 34px;
    margin-top: -50px;

}

.product_details{
   padding: 14px 22px 27px;
}

.chair_name{
    margin-bottom: 36px;
}

.chair_name p{
    color: #8D8D8D;
    font-family: "Inter", sans-serif;
    font-size: 16.76px;
    margin-bottom: 6px;
}

.chair_name h4{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21.33px;
    text-transform: capitalize;
    color: #0D1B39;
    margin-bottom: 8px;
}

.star_icon.product_section{
    justify-content: flex-start;
}

.star_icon.product_section i{
    color: #F6B76F;
}

.chair_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chair_price p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21.33px;
    color: #0D1B39;
}

.chair_price i{
    font-size: 49px;
}


/* Experience Section */

.experience{
    padding: 203px 135px 201px 0px;
    display: flex;
    justify-content: center;
}
.experience .container{
    display: flex;
    gap: 141px;
}

.experience img{
    max-width: 629px;
    max-height: 445px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.experience .right{
    padding-top: 35px;
    max-width: 556px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.experience .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience .text h4{
    color: #E58411;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 17.5%;
    font-weight: 400;
}

.experience .text h3{
    color: #E58411;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 500;
    max-width: 413px;
    color: #1E1E1E;
}

.experience .text p{
    font-size: 18px;
    line-height: 185%;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 80%;
}

/* Testimonial Section */

.testimonial{
    margin: 0px 103px 160px 151px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.testimonial .container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.testimonial .header{
    max-width: 413px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.testimonial .header h4{
    color: #E58411;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 17.5%;
}

.testimonial .header h3{
    color:#1E1E1E;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 600;
}

.client_card_container{
    display: flex;
    gap: 38px;
}

.client_card{
    max-width: 370px;
    height: 476px;
    background-image: url(Asset/card1.png);
    background-position: center;
    background-size: cover;
    border-radius: 18.12px;
    padding: 18px;
    display: flex;
    align-items: flex-end;
}

.card2{
    background-image: url(Asset/card2.png);
}

.card3{
    background-image: url(Asset/card3.png);
}

.card_container{
    background-color:#ffffff;
    width: 100%;
    height: 206px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0px 40px 17px 42px;
    text-align: center;
    justify-content: flex-start;
}


.client_profile{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.client_image img{
  width: 50px;
  height: 50px;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  margin-top: -23px;
}

.client_profile .client_description{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.client_description h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    color: #1E1E1E;
}

.client_description p{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 60%;
}

.client_text{
    font-size: 14px;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 80%;
}

.star_icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.star_icon i{
    color: #F6973F;
}

.star_icon .star_dull i{
    color:#F6973F;
    opacity: 40%;
}

/* Footer Section */

.footer{
    background-color: #F7F7F7;
    padding: 118px 188px 56px 188px;
}

.footer .container{
    max-width: 1064px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 118px;
}

.footer_content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 110px;
}

.logos_about{
    margin-right: 42px;
    max-width: 335px;
}

.logos_about h4{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: #1E1E1E;
    margin-bottom: 29px;
}

.logos_about p{
font-weight: 500;
font-size: 15px;
line-height: 160%;
color: #1E1E1E;
opacity: 80%;
}

.footer_link h5{
    font-family: "DM Sans", sans-serif;;
    color: #F6973F;    
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.23px;
    margin-bottom: 20px;
}

.footer_link li{
    list-style: none;
   
}

.footer_link a{
    font-size: 15px;
    opacity: 80%;
    line-height: 160%;
    color: #1E1E1E;
    font-weight: 500;
    margin-bottom: 26px;
    display: inline-block;
    text-decoration: none;
}

.footer_link i{
    color: #1E2833;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    margin-right: 10px;
}

.term_condition{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    text-align: center;
}

.copyright{
    color: #1E2833;
    opacity: 50%;
    font-size: 15px;
    letter-spacing: -0.2px;
}

.privacy{
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    color: #1E1E1E;
    opacity: 80%;
}

/* Mobile View */
@media screen and (max-width: 790px){

/* Hero Section */
  
.hero{
    height: 100vh;
}

.nav{
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 40px 25px;
    gap: 0px;
    height: 100px;
    margin-top: 0;
}

.nav.menu_open{
    background-color: rgb(0, 0, 0, .9);
}

.nav_link{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    display: none;
    z-index: 100;
    padding-bottom: 20px;
    background-color: rgb(0, 0, 0, .9);
    transition: all ease-in-out .4;
}

.nav_link.active{
    display: flex;
}

.nav_link a{
    padding: 30px;
}

.nav .menu{
    display: block;
}

#close{
    display: none;
}

.content{
    max-width: 100%;
    gap: 35px;
    padding: 25px;
    margin-top: 0px;

}

.content h1{
    font-size: 32px;
}


/* Best product Section */

.best_product{
    background-color: #F7F7F7;
    padding: 60px 20px;
}

.best_product .container{
    max-width: 100%;
    flex-direction: column;
}


.header h4{
    font-size: 32px;
}

.header .category {
    /* background-color: #EEEEEE;
    border-radius: 44px;
    padding: 6px; */
    width: 100%;
}


.product{
    width: 100%;
    grid-template-columns: auto;
    gap: 100px;
    margin-bottom: 30px;
}

.product .card{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.image_section{
    text-align: center;
    background-color: #FAFAFA;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.image_section img{
    
    width: 217px;
    height: 249px;
    margin-bottom: 10px;
    margin-top: -50px;

}

.product_details{
   padding: 0px 22px 27px;
}

.chair_name{
    margin-bottom: 30px;
}

.chair_name p{
    color: #8D8D8D;
    font-family: "Inter", sans-serif;
    font-size: 16.76px;
    margin-bottom: 6px;
}

.chair_name h4{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21.33px;
    text-transform: capitalize;
    color: #0D1B39;
    margin-bottom: 8px;
}

.star_icon.product_section{
    justify-content: flex-start;
}

.star_icon.product_section i{
    color: #F6B76F;
}

.chair_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chair_price p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21.33px;
    color: #0D1B39;
}

.chair_price i{
    font-size: 30px;
}


/* Experience Section */

.experience{
    padding: 60px 25px;
    display: flex;
    justify-content: center;
}
.experience .container{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.experience img{
    max-width: 100%;
    max-height: 445px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.experience .right{
    padding-top: 30px;
    max-width: 100%;
}

.experience .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .experience .text h4{
    color: #E58411;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 17.5%;
    font-weight: 400;
} */

.experience .text h3{
    color: #E58411;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    max-width: 100%;
    color: #1E1E1E;
}

/* .experience .text p{
    font-size: 18px;
    line-height: 185%;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 80%;
} */



/* About Us Section */

.about_us .container{
    max-width: 100%;
    flex-direction: column;
    gap: 50px;
    margin: 60px 25px;
    align-items: flex-start;
}

.about_us .left_side{
    max-width: 100%;
    
}

.left_side p{
    font-size: 32px; 
    max-width: 100%;
}

.right_side{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 60px;
}

.card{
    width: 100%;
    gap: 20px;
}

.card-content .title{
    color: #1E1E1E;
    font-size: 24px;
    opacity: 90%;
}

.card-content .text{
    color: #1E1E1E;
    font-size: 16px;
    line-height: 185%;
    opacity: 80%;
}


/* Testimonial Section */

.testimonial{
    margin: 60px 25px;
    gap: 50px;
   
}

.testimonial .container{
    gap: 50px;
}

.testimonial .header{
    max-width: 100%;
    gap: 20px;
    text-align: center;
}

.testimonial .header h3{
    font-size: 32px;
    font-weight: 600;
}

.client_card_container{
    flex-direction: column;
    gap: 30px;
}

.client_card{
    max-width: 100%;
    height: 410px;
}



/* footer section */

.footer{
    background-color: #F7F7F7;
    padding: 60px 25px 20px;
}

.footer .container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 60px;
}

.footer_content{
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
}

.logos_about{
    margin-right: 0px;
    max-width: 100%;
}

.logos_about h4{
    margin-bottom: 20px;
}

.term_condition{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.copyright{
   margin-bottom: 20px;
}

.privacy{
    display: flex;
    justify-content: space-between;
}

}

/* Tablet View */
@media screen and (min-width: 790.01px) and (max-width: 1250px){

/* Hero Section */
  
/* .hero{
    height: ;
} */

.content h1{
    font-size: 62px;
}
 
/* Best product Section */

.best_product{
    padding: 70px 40px;
}

.product{
    grid-template-columns: auto auto auto;
    row-gap: 80px;
    margin-bottom: 30px;
}

/* Experience Section */

.experience{
    padding: 70px 40px;
}

.experience .container{
    gap: 40px;

}

.experience .left{
    width: 50%;
}
.experience img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.experience .right{
    width: 50%;
    padding-top: 10px;
    gap: 20px;
}

.experience .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience .text h4{
    font-size: 14px;
}

.experience .text h3{
    font-size: 32px;
}

.experience .text p{
    font-size: 16px;
}

/* About Us Section */

.about_us .container{
    max-width: 100%;
    flex-direction: column;
    gap: 50px;
    margin: 70px 40px;
    align-items: center;
}

.about_us .left_side{
    max-width: 100%;
    
}

.left_side p{
    font-size: 42px; 
    max-width: 100%;
}

.right_side{
    display: flex;
    flex: 1;
    gap: 40px;
}

.card{
    width: 100%;
    gap: 20px;
}

.card-content .title{
    color: #1E1E1E;
    font-size: 24px;
    opacity: 90%;
}

.card-content .text{
    color: #1E1E1E;
    font-size: 16px;
    line-height: 185%;
    opacity: 80%;
}

/* Testimonial Section */

.testimonial{
    margin: 70px 40px;
    gap: 50px;
}

.testimonial .container{
    gap: 50px;
}

.testimonial .header{
    max-width: 100%;
    gap: 20px;
    text-align: center;
}

.testimonial .header h3{
    font-size: 32px;
    font-weight: 600;
}

.client_card_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.client_card{
    max-width: 100%;
    height: 410px;
}

/* footer section */

.footer{
    padding: 70px 40px;
}


.footer .container{
    gap: 50px;
}


.footer_content{
    gap: 60px;
}

.logos_about{
    margin-right: 0px;
    max-width: 450px;
}

.logos_about h4{
    margin-bottom: 20px;
}

}







