/* Global Section */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/gilroy/Gilroy-Black.ttf") format("truetype");
    font-weight: 900;
  }

/* Hero Section */
  

.hero{
    background-image: url(Asset/Rectangle\ 1441.png);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 1084px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    max-width: 1280px;
    color: white;
    justify-content: space-between;
    margin: 40px auto 80px auto;
    gap: 335px;
}

.nav p{
    font-weight: 400;
    size: 28px;
    letter-spacing: 1%;
}

.nav_link{
    display: flex;
    gap: 62px;

}

.nav_link a{
    text-decoration: none;
    color: white;
    width: fit-content;
    font-weight: 400;
    font-size: 18px;

}

.nav i{
    font-size: 34px;
}

.content{
    max-width: 861px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.content_text{
    display: flex;
    flex-direction: column;
    gap:14px;
    text-align: center;
    align-items: center;
}

.content h1{
    font-weight: 400;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -1%;
}

.content p{
    font-weight: 400;
    size: 24px;
    line-height: 160%;
    max-width: 606px;
    color: rgba(255, 255, 255, 0.8);
}

.search-container{
    width: 344px;
    height: 56px;
    position: relative;
    background-color:rgba(255, 255, 255, 0.15);
    border-radius: 42px;
    border: .86px solid;
    border-color: rgba(255, 255, 255, 0.6);
}

.search-container input{
   width: 100%;
   height: 56px;
   border-radius: 42px;
   border: none;
   padding: 15px 20px;
   background-color: transparent;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
  }

.search-container button{
    position: absolute;
    background-color: #E58411;
    z-index: 2;
    right: 8px;
    top:50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 18px;
}

/* About Us Section */

.about_us{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us .container{
    margin: 120px 80px;
    max-width: 1280px;
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
}

.about_us .left_side{
    max-width: 242px;
}

.left_side p{
    font-weight: 600;
    font-size: 42px;
    color: #1E1E1E;
    
}

.right_side{
    display: flex;
    flex: 1;
    gap: 28px;
}

.card{
    display: flex;
    width: 284px;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-content .title{
    color: #1E1E1E;
    font-size: 24px;
    opacity: 90%;
}

.card-content .text{
    color: #1E1E1E;
    font-size: 16px;
    line-height: 185%;
    opacity: 80%;
}

.more_info{
    display: flex;
    gap: 13px;
    justify-content: flex-start;
    align-items: center;

}

.more_info a{
    text-decoration: none;
    color: #E58411;
    font-size: 18px;
    line-break: 185%;
    font-weight: 500;
}

.more_info i{
    font-size: 20px;
    color: #E58411;
}

/* Best product Section */

.best_product{
    background-color: #F7F7F7;
    padding: 50px 0px;
}

.best_product .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.header h4{
    font-size: 42px;
    color: #1E1E1E;
    text-transform: capitalize;
    font-weight: 700;
}

.header .category {
    background-color: #EEEEEE;
    border-radius: 44px;
    padding: 6px;
    width: fit-content;
}

.header .category ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .category ul li{
    list-style: none;
    padding: 7px 20px;
    opacity: 80%;
    font-size: 18px;
    line-height: 185%;
    color: #1E1E1E;
    font-weight: 400;
}

.header .active{
  background-color: #FFFFFF;
  border-radius: 32px;
  color: #1E1E1E;
  opacity: 80%;
  font-size: 18px;
  line-height: 185%;
  font-weight: 500;
}


.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 42px;
    margin-bottom: 60px;
}

.product .card{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.image_section{
    text-align: center;
    background-color: #FAFAFA;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.image_section img{
    
    width: 217px;
    height: 249px;
    margin-bottom: 34px;
    margin-top: -50px;

}

.product_details{
   padding: 14px 22px 27px;
}

.chair_name{
    margin-bottom: 36px;
}

.chair_name p{
    color: #8D8D8D;
    font-family: "Inter", sans-serif;
    font-size: 16.76px;
    margin-bottom: 6px;
}

.chair_name h4{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21.33px;
    text-transform: capitalize;
    color: #0D1B39;
    margin-bottom: 8px;
}

.star_icon.product_section{
    justify-content: flex-start;
}

.star_icon.product_section i{
    color: #F6B76F;
}

.chair_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chair_price p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21.33px;
    color: #0D1B39;
}

.chair_price i{
    font-size: 49px;
}


/* Experience Section */

.experience{
    padding: 203px 135px 201px 0px;
    display: flex;
    justify-content: center;
}
.experience .container{
    display: flex;
    gap: 141px;
}

.experience img{
    max-width: 629px;
    max-height: 445px;
}

.experience .right{
    padding-top: 35px;
    max-width: 556px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.experience .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience .text h4{
    color: #E58411;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 17.5%;
    font-weight: 400;
}

.experience .text h3{
    color: #E58411;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 500;
    max-width: 413px;
    color: #1E1E1E;
}

.experience .text p{
    font-size: 18px;
    line-height: 185%;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 80%;
}

.testimonial{
    margin: 0px 103px 160px 151px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.testimonial .container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.testimonial .header{
    max-width: 413px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.testimonial .header h4{
    color: #E58411;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 17.5%;
}

.testimonial .header h3{
    color:#1E1E1E;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 600;
}

.client_card_container{
    display: flex;
    gap: 38px;
}

.client_card{
    max-width: 370px;
    height: 476px;
    background-image: url(Asset/card1.png);
    background-position: center;
    background-size: cover;
    border-radius: 18.12px;
    padding: 219px 18px 18px 18px;
}

.card2{
    background-image: url(Asset/card2.png);
}

.card3{
    background-image: url(Asset/card3.png);
}

.card_container{
    background-image: url(Asset/Union\ \(4\).png);
    background-position: center;
    background-size: cover;
    height: 239px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 8px 40px 17px 40px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}


.client_profile{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.client_image img{
    width: 55px;
    height: 55px;
}

.client_profile .client_description{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.client_description h3{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    color: #1E1E1E;
}

.client_description p{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 60%;
}

.client_text{
    font-size: 14px;
    font-weight: 400;
    color: #1E1E1E;
    opacity: 80%;
}

.star_icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.star_icon i{
    color: #F6973F;
}

.star_icon .star_dull i{
    color:#F6973F;
    opacity: 40%;
}

/* Footer Section */

.footer{
    background-color: #F7F7F7;
    padding: 118px 188px 56px 188px;
}

.footer .container{
    max-width: 1064px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 118px;
}

.footer_content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 110px;
}

.logos_about{
    margin-right: 42px;
    max-width: 335px;
}

.logos_about h4{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: #1E1E1E;
    margin-bottom: 29px;
}

.logos_about p{
font-weight: 500;
font-size: 15px;
line-height: 160%;
color: #1E1E1E;
opacity: 80%;
}

.footer_link h5{
    font-family: "DM Sans", sans-serif;;
    color: #F6973F;    
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.23px;
    margin-bottom: 20px;
}

.footer_link li{
    list-style: none;
   
}

.footer_link a{
    font-size: 15px;
    opacity: 80%;
    line-height: 160%;
    color: #1E1E1E;
    font-weight: 500;
    margin-bottom: 26px;
    display: inline-block;
    text-decoration: none;
}

.footer_link i{
    color: #1E2833;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    margin-right: 10px;
}

.term_condition{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    text-align: center;
}

.copyright{
    color: #1E2833;
    opacity: 50%;
    font-size: 15px;
    letter-spacing: -0.2px;
}

.privacy{
    display: flex;
    gap: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    color: #1E1E1E;
    opacity: 80%;
}

@media only screen and (max-width: 768px){
    .footer_content{
        display: grid;
        grid-template-columns: auto ;
        gap: 60px;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px){
    .footer_content{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 80px;
    }
    
}






